@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap");
:root {
  --first-color: #e8630a;
  --second-color: #e3e3e3;
  --third-color: #455d7a;
}
* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
/* Hamburger Toggle Button */

/* Logo */
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--second-color);
  background-color: var(--first-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3 ease;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile {
  display: none;
  align-items: center;
}
#bar {
  display: none;
  align-items: center;
  cursor: pointer;
}
#lg-bag {
  color: var(--third-color);
}
#lg-bag:hover {
  color: var(--first-color);
}
#lg-bag {
  color: var(--third-color);
  font-size: 20px;
}
#close {
  display: none;
}
.mobile a {
  padding-right: 10px;
}
.navbar li {
  list-style-type: none;
  padding: 0px 20px;
  position: relative;
}
.navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  transition: 0.3 ease;
}
.navbar li a:hover {
  color: var(--first-color);
}
.navbar li a:hover,
.navbar li a.active {
  color: var(--first-color);
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--first-color);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* Home Page */
.hero {
  background-color: var(--second-color);
  height: 50vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero h4 {
  padding-top: 15px;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.hero h1 {
  color: var(--second-color);
}
.hero p {
  color: var(--first-color);
  font-weight: 600;
  font-size: 1.2rem;
}

/* Feature Product Section */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  cursor: pointer;
  margin: 15px 0px;
  transition: 0.2 ease;
}
.section-p1 h2 {
  padding: 3rem 0;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro .des {
  text-align: center;
  padding: 10px 0px;
}
#product1 .pro .des span {
  color: var(--first-color);
  font-size: 1rem;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: var(--third-color);
  font-size: 1.1rem;
}
#product1 .pro .des a {
  font-size: 1.3rem;
  padding-top: 7px;
  color: var(--first-color);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 1.5rem;
  font-weight: 600;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 10px;
  border-radius: 50px;

  color: var(--first-color);
  font-weight: 500;
}
/* Hmong Clothes, Hats and other Section */
.banner {
  margin: 40px 0px;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--third-color);
  width: 100%;
  height: 20vh;
}
#banner h4 {
  color: var(--second-color);
  font-size: 1.2rem;
}
#banner h2 {
  color: var(--second-color);
  font-size: 1.5rem;
  padding: 10px 0px;
}
#banner button:hover {
  background-color: var(--second-color);
}

/* Bottom Banner Section */
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--first-color);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

/* Contact Page */
#hero-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--third-color);
  height: 20vh;
  color: var(--second-color);
}
#hero-contact h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}
#form-details form {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 3rem;
}
#form-details span {
  padding: 1.2rem 0;
}
#form-details h2 {
  padding-bottom: 1.2rem;
  font-weight: 700;
}
#form-details input,
textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid var(--second-color);
}
#form-details button {
  background-color: var(--first-color);
  color: var(--second-color);
}
@media (max-width: 570px) {
  #form-details h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 460px) {
  #form-details form {
    width: 100%;
  }
}
/* Footer */
footer {
  background-color: var(--third-color);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--third-color);
  color: var(--second-color);
  padding: 1.5rem;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 1.2rem;
  padding-bottom: 1.4rem;
}
footer p {
  font-size: 1.2rem;
  margin: 0 0 8px 0;
}
footer a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--second-color);
  padding: 0.3rem;
}
footer a:hover {
  color: var(--first-color);
}
footer .follow {
  margin-top: 1.2rem;
}
footer .follow i {
  color: var(--first-color);
  padding-right: 4px;
  cursor: pointer;
}
footer .copyright {
  width: 100%;
  text-align: center;
  color: var(--second-color);
}
footer .install i {
  padding: 5px;
  font-size: 2.5rem;
}

/* Shop Page */
#page-header {
  background-color: var(--third-color);
  width: 100%;
  height: 20vh;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#page-header h2,
p {
  color: var(--second-color);
  padding: 14px;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: var(--first-color);
  padding: 15px 20px;
  border-radius: 4px;
  color: var(--second-color);
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single Product Page */
#prodetails .single-pro-image {
  width: 40%;
  margin: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 40px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin: 10px 0;
}
#prodetails .single-pro-details input {
  width: 60px;
  height: 30px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details .btn {
  background-color: var(--first-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

/* Cart */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid var(--second-color);
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding: 15px 0;
}
#cart table tbody td {
  font-size: 1.2rem;
}

/*Cart Checkout Total*/
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  align-items: flex-end;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;

  padding: 10px 0;
}
#subtotal h3 {
  font-weight: 700;
  padding-bottom: 15px;
}
/* Media Query Tablet and Desktop */
@media (max-width: 865px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--second-color);
    padding: 80px 0px 0px 10px;
    transition: 0.4s;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #bar {
    display: flex;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile #bar {
    color: var(--first-color);
    padding-left: 20px;
    font-size: 24px;
  }
  #mobile #cart {
    font-size: 24px;
  }
  #navbar.active {
    right: 0px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--third-color);
    font-size: 24px;
    display: flex;
    text-decoration: none;
  }
  #lg-bag {
    display: none;
  }
  .hero {
    height: 90vh;
    width: 100%;
    background-position: top 30% right 30%;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px 15px;
  }
  #sm-banner .banner-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--first-color);
    width: 100%;
    height: 20vh;
  }
}
/* Media Query Mobile */
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  footer .copyright {
    text-align: start;
  }
  /*Single Product Page*/
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin: 0;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}
